@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');



h1{
    font-family: 'Lato', sans-serif !important;
    font-size: 40px;
}
h2{
    font-family: 'Lato', sans-serif !important;
    font-size: 32px;
}
h3{
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 27px;
}
h4{
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 23px;
}
p{
    font-family: 'Imprima', sans-serif !important;
    font-size: 16px;
}
section {
    width: 100% !important;
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    align-items: flex-start !important;
}
article{
    margin-right: 20px;
}
.black{
    height: 150px;
    color: #ffffff;
    background-color: #000000;
    border: solid 3px;
}
.red{
    height: 150px;
    background-color: rgb(255, 115, 0) !important;
    border: solid 3px;
}
.white{
    height: 150px;
    background-color: #ffffff;
    border: solid 3px;
}
.gamma{
    height: 150px;
    background:linear-gradient(red, gold) !important;
    border: solid 3px;
}
.btn{
    background:linear-gradient(red, gold) !important;
    border-color: red !important;
}

.hovers a:hover{
    color: black !important;
}


input {
    width: 250px;
    padding: 5px;
  }
  .redondeado {
    border-radius: 5px;
  }