.wrapper{
    display: grid;
    grid-template-columns: 250px;
    justify-content: center;
  }


  @media screen and (min-width: 700px){
    .wrapper{
        grid-template-columns: 250px 250px;
    }
}

@media screen and (min-width: 1000px){
    
    .wrapper{
        grid-template-columns: 250px 250px 250px 250px;
    }
}